.header-color {
  background: #833ab4; 
  background: -webkit-linear-gradient(to right, #f8b195, #ff9966, #c06c84, #6c5b7b, #355c7d);  
  background: linear-gradient(to right, #f8b195, #ff9966, #c06c84, #6c5b7b, #355c7d); 
}

.landing-grid {
  background: #833ab4;  
  background: -webkit-linear-gradient(to right, #f8b195, #ff9966, #c06c84, #6c5b7b, #355c7d); 
  background: linear-gradient(to right, #f8b195, #ff9966, #c06c84, #6c5b7b, #355c7d); 
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
  border-radius: 8px;
  
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* contact page css */

.avatar-img {
  align-items: center;
  height: 250px;
  padding-top: 10em;
  margin-right: 10rem; 
  margin-left: 10rem;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 25%;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0.1em;

}

.banner-text h1 {
  font-size: 45px;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  color: white;
}

.banner-text h4 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  color: white;
}

.banner-text hr {
  border-top: 5px straight white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto; 
  align-items: center;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
  align-items: center;
}

.banner-text-one {
  align-content: left;
  background-color: black;
  opacity: .8;
  width: 97%;
  margin-left: -37.5em;
  margin-top: -26.2em;
  border-radius: 8px;
  padding: 0.1em;
  padding-bottom: 1em;
}

.banner-text-two {
  /* align-content: left; */
  background-color: black;
  opacity: .8;
  width: 103%;
  margin-left: 75em;
  margin-top: -26.2em;
  height: 350px;
  border-radius: 8px;
  padding: 0.1em;

}

.resume-right-col {
  font-family: 'Vollkorn', serif;
  font-size: 15px;
}

.resume-right-col h2{
  font-family: 'Vollkorn', serif;
  font-weight: bold;
}

.resume-right-col p{
  font-size: 18px;
}


